* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-style: normal;
    font-weight: 500px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-family: 'Roboto';
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1022px;
    height: 104px;
}

header {
    display: flex;
    justify-content: center;
}

body {
    background: #1E1E1E;
    background-size: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    display: grid;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin-left: 134px;
    display: flex;
    gap: 104px;
}

.hamburg {
    visibility: hidden;
}

a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight: 700;
    background-color: #00FF67;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 10px;
    border-radius: 3px;
}
main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: #FFFFFF;
}

span {
    color: #00FF67;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    max-width: 960px;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    color: #FFFFFF;
}

p {
    display: grid;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    justify-content: flex-start;
    color: #FFFFFF;
}

.medios {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #00FF67;
}



.parrafo-section {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;
}

button {
    display: grid;
    font-family: 'Roboto';
    font-weight: 600px;
    font-size: 24px;
    color: #FFFFFF;
    width: 240px;
    height: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: #161616;
    margin-top: 88px;
}

button:hover {
    color: black;
    font-weight: 700;
    background-color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 10px;

}
.siguenos {
    color: #FFFFFF;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 18px;
}
footer {
    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;
    height: 245px;
}    
/* imagenes */
.logo {
    width: 62px;
    height: 104;
}
.iconos {
    height: 50px;
    width: 50px;
}

section {
    margin-top: 103px;
}

/*contenido*/
.contenido {
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr 1fr;
}

/*media queri*/
@media screen and (max-width: 1200px) {
    .contenido {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .hamburg {
        visibility: visible;
        padding-right: 50px;
        transform: scale(1.5);
    }

    ul {
        display: none;
        visibility: hidden;
      
    }

    p {
        max-width: 960px;
    }

    nav {
        width: 100%;
    }

    section {
        margin: 80px 0px;
    }

    p {
        margin: 0px 0px 20px 0px;
    }

    body {
        padding-right: 8%;
        padding-left: 8%;
    }

    .online {
        width: 350px;
    }

    .online2 {
        order: 1 !important;
    }

    .text2 {
        order: 2 !important;
    }

    .logo {
        transform: scale(0.7);
    }
}
@media screen and (max-width: 770px) {
    h1 {
        font-size: 55px;
    }
    p {
        font-size: 25px;
    }
    .medios {
        font-size: 25px;
    }
    h2 {
    font-size: 40px;
    }
    .parrafo-section {
    font-size: 20px;
    }
    .iconos {
        height: 30px;
        width: 30px;
    }
    .siguenos {
        font-size: 25px;
        line-height: 18px;
    }
    footer {
    height: 100px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 35px; 
        line-height: 41.02px;
    }
    p {
        font-size: 15px;
        line-height: 20px !important;
       
    }
    .medios {
        font-size: 18px;
    }
    h2 {
        font-size: 23px;
        font-style: 10px; 
        line-height: 40px; 
        
    }
    .parrafo-section {
        font-size: 12px;
        word-wrap: break-word;
        display: block;    
    }
    button {
        font-size: 13px;
    }
    .online {
        width: 250px;
    }
    .ayudanos {
        display: block;
        content: "";
        margin: 1rem 0;
    }
}
@media screen and (max-width: 360px) {
    h1 {
        font-size: 21px;
        line-height: 35px;
    }
    p {
        font-size: 10px;
    }
    .medios {
        font-size: 15px;
    }
    h2 {
    font-size: 20px;
    line-height: 30px;
    }
    .parrafo-section {
    font-size: 10px;
    }
    .online {
    line-height: 20px;
    }
    .iconos {
        height: 25px;
        width: 25px;
    }
    .siguenos {
        font-size: 18px;
        line-height: 18px;
    }
    footer {
    height: 50px;
    }
}






